.section.cards-container {
    background-color: var(--clr-off-white);
}

.cards > ul {
    list-style: none;
    margin: 0 50px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: space-between;
    justify-content:space-evenly;
    row-gap:30px;
}

.cards > ul > li {
    max-width:275px;
    border: none;
    background-color: var(--background-color);
    font-size: 0.8em;
    position: relative;
}

.cards > ul > li h3 {
    line-height:1;
    letter-spacing: -1px;
}

.cards .cards-card-body {
    margin: 5px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 75%;
    margin: 30px auto;
    padding: 0;
    display: block;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.cards > ul > li .button-container {
    padding:1.3em 0.25em;
}

.cards > ul > li .button-container a {
    position:absolute;
    bottom:0;
}

/* ----------------- Featured variation ------------------ */
.cards.featured > ul > li {
    background-color: var(--clr-dark-purple);
    color: var(--clr-off-white);
    cursor: pointer;
    min-width:170px;
    max-width:400px;
    width:25vw;
}

.cards.featured > ul > li img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.cards.featured > ul > li p {
    display:none;
}

@media(max-width:900px) {
    .cards.featured > ul {
        column-gap: 15px;
        row-gap: 15px;
    }

    .cards.featured > ul > li {
        width: 35vw;
    }

    .cards.featured > ul > li h3 {
        font-size: var(--heading-font-size-xxs);
    }
}

@media(min-width:900px) {
    .cards.featured > ul {
        column-gap: 30px;
    }

    .cards.featured .cards-card-body {
        margin: 5px;
        padding: 1em 1em 0;
    }

    .cards.featured > ul > li p {
        display: block;
    }
}

/* ----------------- Blog variation ------------------ */
.blog .section.cards-container {
    background-color: var(--clr-white);
}

.blog-post.blog .section.cards-container .default-content-wrapper {
    margin-left: 4em;
    opacity: 0.4;
    max-width: 1200px;
}

.cards.blog > ul > li {
    max-width: 370px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.cards.blog > ul > li .blog-info {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--body-font-size-xs);
}

.cards.blog > ul > li .blog-info p {
    padding: 0 4px 0 0;
    margin: 0;
}

.cards.blog > ul > li h3 {
    margin-top: 4px;
    font-size: var(--heading-font-size-s);
}

.cards.blog > ul > li:hover h3 {
    color: var(--clr-purple);
}

.cards.blog > ul > li img {
    filter: drop-shadow(0 0 2px rgb(0 0 0 / 0%));
    width: 100%;
}

.cards.blog > ul > li:hover img {
    filter: drop-shadow(0 5px 4px rgb(0 0 0 / 40%));
}

@media(max-width:900px) {
    .cards.blog > ul {
        margin: 0;
    }

    .cards.blog > ul > li {
        max-width: 100%;
    }
}

/* ----------------- News variation ------------------ */
.cards.news > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1440px;
}

.cards.news > ul > li > a.card-link {
    color: var(--clr-black);
    text-decoration: none;
}

.cards.news > ul > li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 20%) 3px 3px 5px 0;
    border: 0;
    max-width: 240px;
    min-width: 175px;
    width: 20vw;
}

.cards.news > ul > li .cards-card-image {
    background-color: var(--clr-off-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards.news > ul > li .cards-card-image img {
    width: 200px;
    height: auto;
    object-fit: scale-down;  
}

.cards.news > ul > li .cards-card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 10px;
}

.cards.news > ul > li .cards-card-body > h3 {
    font-size: 22px;
    margin-top: 4px;
}

.cards.news > ul > li:hover h3 {
    color: var(--clr-purple);
}

.cards.news > ul > li .cards-card-body > p {
    font-size: var(--body-font-size-xs);
    margin-top: 8px;
}

@media(max-width:900px) {
    .cards.news > ul > li .cards-card-image {
        display: none;
    }

    .cards.news > ul {
        display: flex;
        flex-direction: column;
    }

    .cards.news > ul > li {
        min-width: 100%;
        box-shadow: none;
        background-color: var(--clr-off-white);
        border: solid var(--clr-off-white);
        border-width: 0 0 1.5px;
        border-image: repeating-linear-gradient(90deg, var(--clr-purple) 0 1px, var(--clr-off-white) 2px 6px) 1/1;
    }

    .cards.news > ul > li .cards-card-body {
        padding: 20px 0;
    }

    .cards.news > ul > li .cards-card-body p {
        margin: 0;
    }

    .cards.news > ul > li .cards-card-body h3 {
        font-size: 18px;
    }
}