.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
}

.cards > ul > li {
    border: 1px solid var(--highlight-background-color);
    background-color: var(--background-color)
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards .cards-card-body > *:first-child {
    margin-top: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

h2#in-the-news {
    text-align: center;
    margin-bottom: 90px;
}

.cards.news.block > ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
}

.cards.news.block > ul > li > a.card-link {
    color: var(--clr-black);
    text-decoration: none;
}

.cards.news.block > ul > li > a.card-link:hover h3 {
    color: var(--clr-purple);
}

.cards.news.block > ul > li {
    display: flex;
    flex-direction: column;
    grid-template-rows: 50% 50%;
    box-shadow: rgb(0 0 0 / 20%) 3px 3px 5px 0px;
    border: 0;
    width: 240px;
}

.cards.news.block > ul > li .cards-card-image {
    background-color: var(--clr-off-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards.news.block > ul > li .cards-card-image img {
    width: 200px;
    height: auto;
    object-fit: scale-down;  
}

.cards.news.block > ul > li .cards-card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 24px 20px;
}

.cards.news.block > ul > li .cards-card-body > h3 {
    font-size: 22px;
    margin-top: 4px;
}

.cards.news.block > ul > li .cards-card-body > h4 {
    font-size: 16px;
    margin-top: 8px;
}

div.section.highlight-grey.cards-container > div.section-container {
    width: 100%;
}