.columns > div {
    display: grid;
    grid-auto-flow: row;
    gap: 32px;
}

.columns.icons > div {
    gap: 0;
    padding: 1em 0;
    border: solid white;
    border-width: 0 0 1.5px;
    border-image: repeating-linear-gradient(90deg, var(--clr-white) 0 1px, var(--highlight-background-color) 2px 6px) 1/1;
}  

.columns img {
    width: 100%;
}

.columns > div > .media-col {
    grid-row: 1;
}

.columns.image-columns .media-col {
    margin: 0 auto;
}

.columns.icons img {
    max-width: 70px;
}

.columns.icons > div:last-of-type {
    border-bottom: none;
}

@media (min-width: 900px) {
    .columns > div {
        grid-auto-flow: column;
        grid-auto-columns: minmax(0, 1fr);
        padding: 1.2em 0;
        align-items: center;
        gap: 64px;
    }

    .columns.image-columns > div {
        gap: 10%;
        grid-auto-columns: unset;
        grid-template-columns: 4fr 6fr;
    }

    .columns.image-columns.image-right > div {
        grid-template-columns: 6fr 4fr;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .columns > div > div {
        margin-left: 32px;
        height: 100%;
    }
    
    /* stylelint-disable-next-line no-descending-specificity */
    .columns.icons > div {
        grid-template-columns: 120px minmax(0, 1fr);
        padding: 2em 0;
    }

    .columns.icons > div > div:first-of-type {
        max-width: 120px;
    }  
    
    .columns.icons img {
        max-width: 90px;
    }  
}

/* split hightlight */
main .section.split-highlight-columns-container,
main .section.split-highlight-columns-container * {
    margin: 0;
    padding: 0;
}

main .section.split-highlight-columns-container .section-container {
    max-width: unset;
}

/* stylelint-disable-next-line no-descending-specificity */
.columns.split-highlight > div {
    gap: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.columns.split-highlight > div > div {
    padding-block: 64px;
    padding-inline: 16px;
    height: 100%;
}

@media (min-width: 600px) {
    .columns.split-highlight > div > div {
      padding-block-end: 100px;
      padding-inline: 32px;
    }
  }

.columns.split-highlight > div > div:first-of-type {
    background-color: var(--clr-purple);
    color: var(--clr-white);
}

.columns.split-highlight > div > div:nth-of-type(2) {
    background-color: var(--clr-off-white);
}
