.accordion details {
    box-shadow: 2px 2px 4px rgb(0 0 0 / 60%);
    margin-bottom:14px;
}

.accordion details summary {
    display: block;
    padding: 20px;
    position: relative;
    background-color: white;
    cursor: pointer;
}

.accordion details summary :is(h2, h3, h4, h5, h6) {
    width:calc(100% - 16px);
    color:var(--clr-black);
}

.accordion details div.details {
    padding:25px;
    background-color: var(--clr-off-white);
}

.accordion details summary::after {
    background-color:var(--clr-orange);
    mask:url("/icons/arrow-left.svg") no-repeat;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-mask:url("/icons/arrow-left.svg") no-repeat;    
    rotate:-90deg;
    position:absolute;
    right: 20px;
    top: 50%;
    margin-top:-5px;
    min-width:13px;
    min-height:20px;
    max-width:13px;
    max-height:20px;
    content:" ";
    transition:rotate 0.25s;

    /* Fixes FF border glitch when rotating */
    border:1px solid white;
}

/* Fix safari issue with visible marker */
.accordion details summary::-webkit-details-marker {
    display: none;
}

.accordion details[open] summary::after {
    transition:rotate 0.25s;
    rotate:90deg;
}

@media (max-width: 600px) {
    .accordion details div.details {
        font-size: var(--body-font-size-s);
        line-height: 1.3em;
    }
}

/* QA style */
.accordion.qa details summary::before {
    content:"Question:";
    display:block;
    color: var(--clr-purple);
    font-size: var(--body-font-size-xs);
}

.accordion.qa details summary h5 {
    margin-top:0;
}

.accordion.qa details div.details::before {
    display: block;
    content: "Answer:";
    color: var(--clr-purple);
    font-family: var(--heading-font-family);
    font-weight: 600;
}

.accordion.qa details div.details > *:first-child {
    margin-top: 0;
}

@media (min-width: 600px) {
    .accordion.qa details div.details::before {
        font-size: var(--heading-font-size-s);
    }
}

@media (max-width: 600px) {
    .accordion.qa details div.details::before {
        font-size: var(--heading-font-size-xs);
    }
}