/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  box-shadow: rgb(0 0 0 / 12%) 0 0 24px 0;
  z-index: 2;
  position: fixed;
  inset: 16px 22px auto;
  width: calc(100% - 44px);
}

header nav {
  display: grid;
  grid-template:
    'tools'
    'brand';
  align-items: center;
  gap: 0 2em;
  font-family: var(--body-font-family);
}

@media (min-width: 900px) {
  header nav {
    grid-template:
      'tools tools'
      'brand sections';
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav ul {
  list-style: none;
}

header nav a:any-link {
  color: currentcolor;
  text-decoration: none;
}

/* hambuerger icon */
header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  vertical-align: middle;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 25px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav:not(.expanded) .nav-hamburger-icon,
header nav:not(.expanded) .nav-hamburger-icon::before,
header nav:not(.expanded) .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav:not(.expanded) .nav-hamburger-icon::before {
  top: -6px;
}

header nav:not(.expanded) .nav-hamburger-icon::after {
  top: 6px;
}

header nav.expanded .nav-hamburger-icon {
  height: 22px;
}

header nav.expanded .nav-hamburger-icon::before,
header nav.expanded .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background: var(--clr-white);
}

header nav.expanded .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}


@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  padding: .4rem 1.4rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* stylelint-disable-next-line no-descending-specificity */
header .nav-brand a {
  display: inline-block;
}

header .nav-brand .icon {
  --icon-width: 120px;
}

header .nav-brand .icon svg {
  fill: var(--clr-purple);
}

header nav.expanded .nav-brand .icon svg {
  fill: var(--background-color);
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  display: none;
  visibility: hidden;
  z-index: 10;
}

header nav[aria-expanded=true] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections > ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  color: var(--clr-white);
}

header nav .nav-sections > ul > li {
  padding-block-start: 1.6rem
}

header nav .nav-sections > ul > li[aria-expanded=false] > hr {
  border-bottom: 1px solid var(--clr-white);
  margin: 1.6rem 1.6rem 0;
  margin-bottom: 0;
}

header nav .nav-sections > ul > li[aria-expanded=true] > hr {
  display: none;
}

header nav .nav-sections .nav-drop {
  position: relative;
  cursor: pointer;
}

header nav .nav-sections > ul > li > a {
  padding: 1.6rem;
}

header nav .nav-sections > ul > li.nav-drop::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 1.4em;
  right: 18px;
  transform: rotate(135deg);
  width: 12px;
  height: 12px;
  border: 1px solid currentcolor;
  border-width: 2px 2px 0 0;
  transition: transform .3s;
}

header nav .nav-sections > ul > li.nav-drop[aria-expanded=true]::after {
  transform: rotate(315deg);
}

@media (min-width: 900px) {
  header nav .nav-sections > ul > li.nav-drop::after {
    content: none;
  }
}

header nav .nav-sections ul > li {
  font-weight: 400;
  font-size: var(--body-font-size-l);
}

header nav .nav-sections > ul > li > ul > li {
  font-size: var(--body-font-size-m);
  padding-block: .8rem;
}

header nav .nav-sections ul > li.nav-drop > ul {
  margin: 0;
  background-color: var(--clr-white);
  color: var(--text-color);
  max-height: 0;
  visibility: hidden;
}

header nav .nav-sections ul > li.nav-drop[aria-expanded=true] > ul {
  max-height: unset;
  visibility: visible;
  padding: 3.8rem 1.6rem;
}


@media (min-width: 900px) {
  header nav .nav-sections {
    display: unset;
    visibility: visible;
  }

  header nav .nav-sections ul {
    display: flex;
    justify-content: flex-end;
    color: var(--text-color);
    margin: 0;
  }

  header nav .nav-sections > ul > li {
    padding-block: .8rem;
  }

  header nav .nav-sections > ul > li > a {
    padding: 1rem;
    font-weight: 600;
    font-size: 18px;
  }

  header nav .nav-sections > ul > li.nav-drop > ul {
    background-color: var(--clr-purple);
    color: var(--clr-white);
    flex-direction: column;
    position: absolute;
    top: 56px;
    width: max-content;
    padding: 0 0 1.6rem 0;
  }

  header nav .nav-sections > ul > li:hover > ul {
    visibility: visible;
    max-height: unset;
  }

  header nav .nav-sections > ul > li.nav-drop > ul > li {
    font-size: var(--body-font-size-s);
    padding: 1.6rem 1.4rem;
    border-bottom: 1px solid var(--clr-white);
  }

  header nav .nav-sections > ul > li.nav-drop > ul > li:hover {
    background-color: var(--clr-white);
    color: var(--text-color);
  }
}


/* tools */
header nav .nav-tools {
  grid-area: tools;
  background-color: var(--clr-dark-purple);
  color: white;
  font-size: var(--body-font-size-xs);
}

header nav .nav-tools .nav-item-secondary em {
  font-style: normal;
}

header nav .nav-tools .nav-item-primary .button {
  margin: 0;
  padding: 0 .8rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  display: flex;
}

/* stylelint-disable-next-line no-descending-specificity */
header nav .nav-tools > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem 1.6rem;
  margin: 0;
}

header nav#movile-nav-menu .nav-tools > ul {
  padding: 3rem;
  justify-content: space-between;
}

@media (min-width: 600px) {
  header nav .nav-tools > ul {
    justify-content: flex-end;
    gap: 3rem;
  }
}

header nav .nav-tools .icon-search {
  --icon-width: 16px;
}

/* mobile nav menu */
header nav#movile-nav-menu {
  display: grid;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transform: translateX(-100%);
  inset: 0;
  z-index: 9;
  background-color: var(--clr-purple);
  padding-block-start: 6.4rem;
  grid-template:
    'sections' 1fr
    'tools' min-content;
  transition: opacity 500ms ease-in-out 0s, transform 0ms ease 500ms;
}

header nav#movile-nav-menu[aria-expanded=true] {
  visibility: visible;
  opacity: 1;
  transform: none;
  pointer-events: auto;
  transition: opacity 500ms ease-in-out 0s;
  overflow-y: scroll;
}

header nav#movile-nav-menu .mobile-menu-cover {
  height: 90px;
  width: 100%;
  background-color: var(--clr-purple);
  position: fixed;
  z-index: 11;
  top: 0;
}