/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  box-shadow: rgb(0 0 0 / 12%) 0px 0px 24px 0px;
  z-index: 2;
  position: fixed;
  top: 16px;
  width: calc(100% - 44px);
  margin-inline: 22px;
}

header nav {
  display: grid;
  grid-template:
    'tools tools' 
    'brand hamburger'
    'sections sections';
  grid-template-columns: auto 40px;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  font-family: var(--body-font-family);
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav ul {
  list-style: none;
}

header nav a:any-link {
  color: currentcolor;
}

header nav .nav-hamburger {
  grid-area: hamburger;
  display: flex;
  z-index: 10;
}

/* hambuerger icon */
header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 25px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: var(--clr-white);
}

header nav[aria-expanded=false] .nav-hamburger-icon,
header nav[aria-expanded=false] .nav-hamburger-icon::before,
header nav[aria-expanded=false] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded=false] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded=false] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded=true] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded=true] .nav-hamburger-icon::before,
header nav[aria-expanded=true] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded=true] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  padding: .4rem 1.4rem;
  z-index: 10;
}

header .nav-brand a {
  display: inline-block;
}

header .nav-brand .icon {
  --icon-width: 120px;
}

header .nav-brand .icon svg {
  fill: var(--clr-purple);
}

header nav[aria-expanded=true] .nav-brand .icon svg {
  fill: var(--background-color);
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
  z-index: 10;
}

header nav[aria-expanded=true] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  color: var(--clr-white);
}

header nav .nav-sections > ul > li {
  border-bottom: 1px solid var(--clr-white);
}

header nav .nav-sections .nav-drop {
  position: relative;
  padding-right: 16px;
  cursor: pointer;
}

header nav .nav-sections > ul > li.nav-drop::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 1.4em;
  right: 50px;
  transform: rotate(135deg);
  width: 12px;
  height: 12px;
  border: 1px solid currentcolor;
  border-width: 2px 2px 0 0;
  transition: transform .3s;
}

header nav .nav-sections > ul > li.nav-drop[aria-expanded=true]::after {
  transform: rotate(315deg);
}

header nav .nav-sections ul > li {
  font-weight: 400;
  font-size: var(--body-font-size-l);
  padding-block: 1.6rem;
}

header nav .nav-sections ul > li > ul {
  margin: 0;
  background-color: var(--clr-white);
  color: var(--text-color);
  max-height: 0;
  visibility: hidden;
  position: relative;
  width: 100dvw;
  padding-inline: 44px;
  left: -22px;
}

header nav .nav-sections ul > li.nav-drop[aria-expanded=true] > ul {
  max-height: unset;
  visibility: visible;
}


@media (min-width: 900px) {
  header nav .nav-sections ul {
    display: flex;
    color: var(--text-color);
  }
}


/* tools */
header nav .nav-tools {
  grid-area: tools;
  background-color: var(--clr-dark-purple);
  color: white;
  font-size: var(--body-font-size-xs);
}

header nav .nav-tools .nav-item-secondary em {
  font-style: normal;
}

header nav .nav-tools .nav-item-primary .button {
  margin: 0;
  padding: 0 .8rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  display: flex;
}

header nav .nav-tools > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem 1.6rem;
  margin: 0;
}

@media (min-width: 600px) {
  header nav .nav-tools > ul {
    justify-content: flex-end;
    gap: 3rem;
  }
}

header nav .nav-tools .icon-search {
  --icon-width: 16px;
}

/* menu overlay */
header nav .menu-overlay {
  background-color: var(--clr-purple);
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition: opacity 500ms ease-in-out 0s, transform 0ms ease 500ms;
}

@media (max-width: 899px) {
  header nav[aria-expanded=true] .menu-overlay {
    opacity: 1;
    transform: none;
    pointer-events: auto;
    transition: opacity 500ms ease-in-out 0s;
  }
}


