/* block specific CSS goes here */

main .hero-container .section-container {
    max-width: unset;
    margin: 0;
}
  
main .hero-container {
    padding: 0;
    background-color:var(--clr-dark-purple);
}
  
main .hero {
    min-height: calc(100vh - 100px);
    padding:2em;
}

main .hero h1 {
    color:var(--clr-cool-white);
}

main .hero picture + h1 {
    max-width: 1200px;
    margin:0 auto;
    color: var(--clr-off-white);
    filter: drop-shadow(0 0 2px rgba(0 0 0 40%)) drop-shadow(0 0 2px rgba(0 0 0 40%));
}

.hero.block h2, .hero.block h3, .hero.block h4 {
    color: var(--clr-off-white);
    margin-top:0.6em;
    font-size:2rem;
    letter-spacing:2.5px;
    filter: drop-shadow(0 0 2px rgba(0 0 0 40%)) drop-shadow(0 0 2px rgba(0 0 0 40%));
} 

@media (min-width: 600px) {
    .hero.block h1, .hero.block h2, .hero.block h3, .hero.block h4 {
        max-width: 55%;
        margin-top:1.25em;
        margin-left: 2%;
    }

    .hero.block h2, .hero.block h3, .hero.block h4 {
        font-size:2.7rem;
        letter-spacing:1.75px;
    }
}

main .hero picture {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
}

main .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}