/* block specific CSS goes here */
main .hero-container .section-container {
    max-width: unset;
    margin: 0;
}

main .hero-container {
    padding: 0;
    background-color:var(--clr-dark-purple);
}

main .hero {
    position: relative;
    min-height: calc(100vh - 100px);
    padding: 12rem 16px;
}

main .hero .hero-text-container {
    max-width: var(--section-max-width);
    margin: 0 auto;
}

main .hero p:empty {
    display: none;
}

main .hero h1 {
    color:var(--clr-cool-white);
    margin-block-end: 0;
}

main .hero :is(h1, h2, h3, h4) {
    position:relative;
}

main .hero .hero-has-media >  h1 {    
    color: var(--clr-off-white);
    /* stylelint-disable-next-line color-function-notation */
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 40%)) drop-shadow(0 0 2px rgba(0, 0, 0, 40%));
}

main .hero :is(h2, h3, h4) {
    color: var(--clr-off-white);
    margin-top:0.25em;
    font-size:2rem;
    letter-spacing:2.5px;
    /* stylelint-disable-next-line color-function-notation */    
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 40%)) drop-shadow(0 0 2px rgba(0, 0, 0, 40%));
} 

@media (min-width: 600px) {
    main .hero h1, main .hero h2, main .hero h3, main .hero h4 {
        max-width: 55%;
        margin-left: 4.5%;
    }

    main .hero h1 {
        margin-top: 2em;
    }

    main .hero picture + h1 {
        margin-top: 1.7em;
    }

    main .hero h2, main .hero h3, main .hero h4 {
        font-size:2.7rem;
        letter-spacing:1.75px;
    }
}

main .hero picture {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
}

main .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blog-post.blog .hero.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}

.blog-post.blog .hero.block p {
    margin: 0;
}

.blog-post.blog .hero.block .blog-header {
    max-width: 720px;
}

.blog-post.blog .hero-container {
    max-height: 500px;
    background-color: var(--clr-purple);
}

.blog-post.blog .hero.block .hero-text-container h1 {
    max-width: 100%;
    margin: 0;
    font-size: var(--heading-font-size-m);
    filter: none;
}

.blog-post.blog .hero.block .hero-text-container .back-button {
    display: flex;
}

.blog-post.blog .hero.block .hero-text-container .back-button p .icon {
    padding-right: 20px;
    color: var(--clr-white);
    position: relative;
    top: 2px;
}

.blog-post.blog .hero.block .hero-text-container .back-button p.button-container a {
    margin: 0;
    padding: 0;
    color: var(--clr-white);
    text-decoration: none;
    font-size: var(--body-font-size-xs);
}

.blog-post.blog .hero.block .hero-media-wrapper picture {
    max-width: 720px;
    position: relative;
}

.blog-post.blog .hero.block .blog-description {
    display: flex;
    width: 720px;
    font-size: var(--body-font-size-xs);
    color: var(--clr-white)
}

.blog-post.blog .hero.block .blog-description p {
    padding: 12px 4px;
}