main .section.cta-narrow-container {
  padding-block: 0;
}

main .cta  > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main .cta .button {
  min-width: 170px;
  padding: 12px 30px;
}

main .cta.narrow {
  padding-block: 2rem;
}

main .cta.narrow :is(h1, h2, h3, h4, h5, h6, p) {
  margin: 0;
}

@media (min-width: 600px) {
  main .cta  > div {
    flex-direction: row;
  }

  main .cta .button {
    min-width: 220px;
    padding: 16px 30px;
  }
}