footer {
  padding: 2rem;
  background-color: var(--clr-dark-purple);
  font-size: var(--body-font-size-s);
  color: var(--clr-white);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  font-size: 14px;
  line-height: 19px;;
}

footer a:any-link {
  color: var(--clr-white);
}